/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-normal);
  background-color: var(--bg-color);
  background-image:
    repeating-linear-gradient(var(--bg-images) 0px, var(--bg-images) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, var(--bg-images) 0px, var(--bg-images) 2px, transparent 2px, transparent 4px),
    linear-gradient(var(--bg-gradient-min), var(--bg-gradient-max));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  width: min(100%, 700px);
  background-color: var(--bg-color);
  border: 2px solid var(--color-text);
  margin: 100px auto;
  display: grid;
  justify-items: center;
}

.header__title {
  font-family: var(--decorate-font);
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-weight: var(--main-font-normal);
  text-transform: uppercase;
  color: var(--color-text);
  margin: 136px 0 20px;
}

.header__text {
  font-family: var(--decorate-font);
  font-weight: var(--main-font-normal);
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--color-text);
}

.theme-menu__list {
  color: var(--color-text);
  font-family: var(--decorate-font);
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 24px auto;
}

.theme-menu__button {
  font-family: var(--decorate-font);
  font-weight: var(--main-font-normal);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-text);
  border: none;
  background-color: transparent;
  margin-left: 16px;
  position: relative;
  opacity: 1;
  transition: opacity scaleX(0) 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus,
.button__save:focus,
.card__icon-button:focus,
.card__like-button:focus,
.dialog__button:focus {
  outline: none;
}

.theme-menu__button:hover,
.button__save:hover,
.card__icon-button:hover,
.card__like-button:hover,
.dialog__button:hover {
  cursor: pointer;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.card__content {
  width: min(100%, 700px);
  display: grid;
  background-color: var(--bg-color);
  border: 2px solid var(--color-text);
  margin: 0 auto 50px;
  position: relative;
}

.card__content-title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-bold);
  color: var(--color-text);
  font-size: 18px;
  padding: 5px 10px;
}

.card__content-picture {
  max-height: 697px;
  height: min(100%, 697px);
  border-top: 2px solid var(--color-text);
  object-fit: cover;
}

.picture__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--decorate-font);
  color: var(--color-text);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 57px;
  right: 24px;
  text-shadow:
    -1px 0 var(--shadow),
   0 1px var(--shadow),
   1px 0 var(--shadow),
   0 -1px var(--shadow);
   z-index: 1;
}

.card__picture {
  height: 100%;
  width: 100%;
}

.card__picture-sepia {
  filter: sepia(75%);
}

.card__picture-brightness {
  filter: brightness(150%);
}

.card__picture-contrast {
  filter: contrast(60%);
}

.card__picture-opacity {
  filter: opacity(75%);
}

.card__picture-saturate {
  filter: saturate(198%);
}

.card__picture-hue-rotate {
  filter: hue-rotate(50deg);
}

.card__picture-blur {
  filter: blur(0.2rem);
}

.card__picture-filters {
  filter: contrast(30%) hue-rotate(70deg) saturate(178%);
}

.card__content-text {
  padding: 25px;
  display: grid;
  gap: 27px;
  border-top: 2px solid var(--color-text);
}

.card-text {
  font-family: var(--main-font);
  font-weight: var(--main-font-normal);
  color: var(--color-text);
  font-size: 18px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 22px 0;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.button__text {
  font-family: var(--decorate-font);
  font-size: 14px;
  line-height: 90%;
  color: var(--color-difference);
  position: relative;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.card__like-button {
  border: 2px solid var(--color-text);
  background-color: transparent;
  width: 130px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button__save {
  background-color: var(--bg-color);
  border: 2px solid var(--color-text);
  margin: 2px auto 103px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: min(100%, 340px);
  position: relative;
}

.button__floppy {
  width: 21px;
  margin: 15px 0;
  color: var(--color-difference);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.dialog[open] {
  background-color: var(--bg-color);
  border: 2px solid var(--color-text);
  margin: auto;
  width: min(100%, 353px);
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.dialog__text {
  color: var(--color-text);
  text-transform: uppercase;
  font-family: var(--decorate-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.dialog__floppy {
  width: 39px;
  color: var(--color-text);
  flex-shrink: 0;
}

.dialog__button {
  border: 2px solid var(--color-text);
  background-color: var(--bg-color);
  width: min(100%, 293px);
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.dialog__button .button__text {
  text-transform: uppercase;
}

@supports((text-stroke: 1px var(--shadow)) or (-webkit-text-stroke: 1px var(--shadow))) {
  .picture__text {
      -webkit-text-stroke: 1px var(--shadow);
      text-stroke: 1px var(--shadow);
      text-shadow: none;
  }
}

@media (width <= 375px) {
  .header__title {
    margin-top: 120px;
  }

  .picture__text {
    top: 77px;
    right: 13px;
  }

  .button__save {
    margin-bottom: 100px;
    width: 310px;
    flex-direction: column;
  }

  .button__floppy {
    margin-bottom: 0;
    width: 28px;
  }

  .button__save .button__text {
    margin-bottom: 15px;
  }
}
